$line-height--small-compact: 1.125rem;
$nudge--small-compact: .5rem;
$nudge--small: .55rem;

%small-text-fixed {
  font-size: 1rem / pow($ms-ratio, 1);
  line-height: map-get($line-heights, small);
  margin-bottom: map-get($sp-after, small) + map-get($line-heights, default-text) - map-get($line-heights, small) - $nudge--small;
  padding-top: $nudge--small;
}

%small-compact-text {
  display: inline-block;
  font-size: 1rem / pow($ms-ratio, 1);
  line-height: $line-height--small-compact;
  margin-bottom: map-get($line-heights, default-text) - $line-height--small-compact - $nudge--small-compact;
  padding-top: $nudge--small-compact;
}

%smallest-text {
  font-size: 1rem / pow($ms-ratio, 2);
  line-height: 1rem;
  margin-bottom: .25rem;
  padding-top: 0.25rem;
}

@mixin ubuntu-p-navigation {
  $ubuntu-logo-svg-width: 81 * $px; // width in rems
  $circle-of-friends-compensation: .25rem; // padding compensation to create visually equal margins;
  $ubuntu-logo-width--desktop: $ubuntu-logo-svg-width + 2 * $grid-margin-width;
  $ubuntu-logo-width--mobile: $ubuntu-logo-svg-width + 2 * $sph-intra;

  %logo-padding {
    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width - $circle-of-friends-compensation;
    }

    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      padding-left: $sph-intra;
      padding-right: $sph-intra - $circle-of-friends-compensation;
    }
  }

  // html {
  //   overflow-x: hidden !important; // prevent horizontal overflow full width breakout
  // }

  .p-navigation {
    flex-direction: column;
    z-index: 3;

    &__dropdown-link {
      @extend .p-navigation__link;
      position: relative;

      &::after {
        @include vf-icon-chevron(vf-url-friendly-color($color-mid-light));
        background-repeat: no-repeat;
        background-size: .75rem;
        background-position: top 52% right 50%;
        content: "";
        height: 100%;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
      }

      &.is-selected {
        &::after {
          transform: rotate(180deg);
          @include vf-icon-chevron(vf-url-friendly-color($color-dark));
        }

        .p-navigation__link-anchor {
          background-color: $color-x-light;
          color: $color-dark;

          &:hover {
            background-color: $color-x-light;
          }

          &::after {
            // height: 100%;
            // z-index: -1;
            // background-color: $color-x-light;
            background-color: transparent;
          }
        }
      }
    }

    &__image {
      max-height: 1.5rem;
      max-width: $ubuntu-logo-svg-width;
    }

    & &__logo {
      background: $color-brand;
      margin: 0;

      @media only screen and (max-width: $breakpoint-navigation-threshold) {
        padding-left: $grid-margin-width;
        padding-right: $grid-margin-width - $circle-of-friends-compensation;
      }

      @media only screen and (min-width: $breakpoint-navigation-threshold) {
        padding-left: $sph-intra;
        padding-right: $sph-intra - $circle-of-friends-compensation;
      }
    }

    & &__nav {
      border-bottom: 0;
      width: 100%;
    }

    & &__link-anchor {
      color: $color-light;
      padding-right: 2rem;
    }

    & &__row {
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;
    }

    &__search {
      align-items: center;
      display: inline-flex;
      flex-grow: 1;
      margin: 0;

      .p-search-box {
        @media only screen and (min-width: $breakpoint-navigation-threshold) {
          margin-right: 0;
          max-width: 12rem;
        }

        &__button {
          padding: 0 0.5rem;
          width: 2rem;
        }

        &__reset {
          right: 2rem;
        }

        &__input {
          border-radius: $border-radius;
        }
      }
    }

    &--secondary {
      background-color: $color-light;
      display: flex;
      margin-top: 0;
      position: relative;
      width: 100%;
      z-index: 1;

      &__banner {
        display: inline-block;
        float: left;
        background-color: transparentize($color-brand, .05);

        &:hover {
          text-decoration: none;
        }
      }

      &__logo {
        @extend %paragraph;
        @extend %logo-padding;
        color: $color-x-light;
        margin-bottom: $sp-unit * 2 - map-get($nudges, nudge--p);


        @media only screen and (max-width: $breakpoint-navigation-threshold) {
          min-width: $ubuntu-logo-svg-width + 2 * $grid-margin-width - $circle-of-friends-compensation;
          padding-left: $grid-margin-width;
          padding-right: $grid-margin-width - $circle-of-friends-compensation;
        }

        @media only screen and (min-width: $breakpoint-navigation-threshold) {
          min-width: $ubuntu-logo-svg-width + 2 * $sph-intra - $circle-of-friends-compensation;
          padding-left: $sph-intra;
          padding-right: $sph-intra - $circle-of-friends-compensation;
        }
      }

      .breadcrumbs {
        &--secondary {
          @extend .p-inline-list;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;
          width: auto;
        }

        &__tertiary {
          @extend .breadcrumbs--secondary;
          margin-left: 1.75em;
          position: relative;

          &::before {
            color: $color-mid-dark;
            content: '\203A';
            font-size: 1rem;
            font-weight: 400;
            left: -.9em;
            position: absolute;
            top: -0.15em;
          }
        }

        &__item {
          color: $color-dark;
          display: inline-flex;
          list-style: none;

        }

        &__link {
          font-size: 1rem / pow($ms-ratio, 1); //XXX: move font-sizes to map in vanilla so it can be changed globally
          line-height: map-get($line-heights, small);
          padding-bottom: map-get($sp-after, small) + map-get($line-heights, default-text) - map-get($line-heights, small) - $nudge--small;
          padding-left: $spv-intra--expanded;
          padding-right: $spv-intra--expanded;
          padding-top: $nudge--small;

          &.p-link--active {
            color: $color-brand;
          }
        }
      }
    }
  }

  .dropdown-window {
    flex-direction: column;
    position: absolute;
    width: 100%;

    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      box-shadow: 0 1px 32px 1px transparentize($color-dark, .8);
      transition: all .25s; // cubic-bezier(.215, .61, .355, 1);
      z-index: 2;
    }

    a {
      text-decoration: none;
    }

    .row {
      display: block;
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;
    }

    hr {
      margin-bottom: $spv-inter--condensed - $px;
    }

    &__content {
      background-color: $color-x-light;
      padding-bottom: $spv-inter--shallow-scaleable;
    }

    & .p-inline-list__item {
      list-style-type: none;
    }

    &__summary-strip {
      @media only screen and (max-width: $breakpoint-large) {
        // padding-bottom: $spv-inter--shallow-scaleable * .5;
        padding-top: $spv-inter--condensed;
      }

      @media only screen and (min-width: $breakpoint-large) {
        // padding-bottom: $spv-intra;
        padding-top: $sp-unit;
      }
    }

    &__summary {
      @include p-max-width--long;
      @extend %small-text-fixed;
      display: inline-block;
      margin-bottom: $sp-unit * 2.5 + map-get($line-heights, default-text) - map-get($line-heights, small) - $nudge--small;
    }
  }

  .navigation-col {
    // padding-right: $sph-inter--expanded;
  }

  .p-heading--navigation {
    @extend %vf-heading-4;
    margin-bottom: 0 * $sp-unit - map-get($nudges, nudge--h4);

    // @extend %vf-heading-5;
    // font-size: 1rem;
    // margin-bottom: $sp-unit * 2 - map-get($nudges, nudge--p);

    // @extend %small-compact-text;
    // font-weight: 400;
  }

  .p-small--compact {
    @extend %small-compact-text;
    // margin-bottom: map-get($line-heights, default-text) - $line-height--small-compact - $nudge--small-compact;
  }

  .p-small {
    @extend %small-text-fixed;
    // margin-bottom: map-get($line-heights, default-text) - map-get($line-heights, small) - $nudge--small;
  }

  .dropdown-window .p-inline-list__item {
    @extend %small-compact-text;
  }

  .fade-animation {
    opacity: 0;
    transform: translateY(-1rem);
    transition-duration: .25s;
    visibility: hidden;

    .u-visible-nav & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }
}


// XXX: move to vanilla
.bg--light {
  background-color: $color-light;
  color: $color-dark;
}

.p-text-list--small-compact {
  @extend %small-compact-text;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: $spv-inter--condensed-scaleable + map-get($line-heights, default-text) - $line-height--small-compact - $nudge--small-compact;
}

.p-text-list--small {
  @extend %small-text-fixed;
  margin-left: 0;
  padding-left: 0;
  // margin-bottom: $spv-inter--scaleable + map-get($line-heights, default-text) - $line-height--small-compact - $nudge--small-compact;
  margin-bottom: $spv-inter--condensed-scaleable + map-get($sp-after, small) + map-get($line-heights, default-text) - map-get($line-heights, small) - $nudge--small;

  & .p-list__item {
    list-style-type: none;
    padding-left: 0;
    position: relative;

    // &::before {
    //   content: '»';
    //   position: absolute;
    //   left: 0;
    // }
  }
  &.bordered {
    margin-bottom: $spv-inter--condensed-scaleable - map-get($nudges, nudge--p);

    & .p-list__item {
      @extend %pseudo-border--top;
      line-height: map-get($line-heights, default-text);
      margin-bottom: 0;

      &::after {
        background-color: $color-rule--light;
      }
    }
  }
}

.default-text {
  @extend %default-text;
}


// XXX: move these to vanilla
h1,
.p-heading--one {
  & + h2,
  & + .p-heading--two {
    margin-top: -2.5rem;
  }
}

h2,
.p-heading--two {
  line-height: 3rem;
}

.p-card--navigation {
  @extend %p-card;
  background-color: $color-light;
  border: 0;
  border-radius: $border-radius;
}

.dropdown-window .p-muted-heading {
  @extend %smallest-text;
}


// .p-list__item {
//   z-index: 1;
//   &:hover {
//     @extend %pseudo-border--top;
//     &::after {
//       background-color: $color-light;
//       border-radius: + $border-radius;
//       height: 100%;
//       left: -.25rem;
//       z-index: -1;
//     }
//   }

//   & + .p-list__item {
//     @extend %pseudo-border--top;

//     &::after {
//       background-color: $color-light;
//     }
//   }
// }